
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(247, 107, 9, 1);
  color: #fff;
}

*::-moz-selection {
  background-color: rgba(247, 107, 9, 1);
  color: #fff;
}

body {
  font-family: 'Lato';
}

body > * {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans';
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.height-100-percent {
  height: 100%;
}

.relative {
  position: relative;
}

.brand-text-red {
  color: rgba(247, 107, 9, 1);
}

.brand-background-red {
  background-color: rgba(247, 107, 9, 1);
}

@media (max-width: 768px) {

  body {
    margin-top: 4.8rem;
  }

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;

    padding: 1rem 2rem;

    background-color: #fff;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  }

  .business-name {
    font-size: 1.2rem;
  }

  .narrow-screen-hamburger {
    position: absolute;
    top: 50%;
    right: 2rem;

    transform: translateY(-50%);

    cursor: pointer;
  }

  .hamburger-line {
    display: block;
    width: 1rem;
    height: 2px;

    margin-bottom: 2px;

    background-color: #333;
  }

  .main-navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;

    height: calc(100vh - 4.8rem);
    width: 75%;

    text-align: center;

    transform: translateX(100%);
    transition: all 0.4s;

    background-color: #fff;
  }

  .main-navigation.active {
    transform: translateX(0%);
  }

  .nav-item {
    display: block;

    padding: 1.5rem 2rem;

    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item:nth-child(even) {
    background-color: rgba(252, 252, 252, 1);
  }

  .main-content-caption-text {
    padding: 1rem 2rem;

  }

  .content-heading {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    color: rgba(247, 107, 9, 1);
    color: #777;
  }

  .content-heading::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 33%;
    height: 1px;
    background-color: #777;
  }



  .content-body {
    font-size: 0.8rem;
    line-height: 1.7;
    color: #777;
  }

  .contact-icons {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  .tel {
    font-size: 2rem;
    font-weight: bold;
    color: #333;

    margin-bottom: 0.5rem;
  }

}

@media (min-width: 769px) and (max-width: 1056px) {
  .main-content-caption-text {
    height: calc(100vw - 47.93557833089312vw);
  }
}

@media (min-width: 1057px) {
  .main-content-caption-text {
    height: calc(100vw - 67.93557833089312vw);
  }
}

@media (min-width: 769px) {

  body {
    height: 100vh;
    overflow: hidden;
  }

  .business-name {
    color: #000;
  }

  .business-name .just {
    opacity: 0.1;
  }

  .business-name {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .narrow-screen-hamburger {
    display: none;
  }

  .main-navigation {
    margin-top: 6rem;

    color: #969696;
    font-size: 12px;
    text-transform: uppercase;
  }

  .nav-item {
    position: relative;
    display: block;

    padding: 1.5rem 0px 0.5rem;
    cursor: pointer;
  }

  .nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
    background-color: rgba(247, 107, 9, 1);

    transform: scaleX(0);
    transform-origin: left center;
    transition: 0.4s all;
  }

  .nav-item.active::after {
    transform: scaleX(1);
  }

  .main-aside {
    display: inline-block;
    width: 17.93557833089312%;

    padding: 2rem;
    /*padding-right: 0px;*/
  }

  .main-content {
    display: inline-block;
    height: 100%;
    width: calc(100% - 17.93557833089312%);
    overflow: hidden;
  }

  .main-content-figure {
    text-align: right;
    vertical-align: top;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*opacity: 0;*/

    width: 100%;

    transform: translateX(40%);
    transition: all 1s;

    color: #767676;
  }

  .main-content-figure.active {
    opacity: 1;
    z-index: 0;
    transform: translateX(0%);
  }

  .main-content-image {
    width: calc(100% - 50vw);
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;

    /*box-shadow: -20px 20px 0px rgba(0, 0, 0, 0.1);*/

    line-height: 0;
  }

  .content-image {
    transform: translateX(100%);
    transition: 0.4s linear all;
    transform-origin: left top;

    width: 100%;
  }

  .main-content-figure.active .content-image {
    animation: captionBefore 0.4s linear forwards;
  }

  .main-content-caption {
    width: 50vw;
    display: inline-block;
    text-align: left;
    overflow: hidden;
  }

  .main-content-caption-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: calc(100vw - 67.93557833089312vw);
    overflow: hidden;

    /*padding: 0px 0px 0px 25%;*/

    background-color: #fff;
  }

  .content-heading {
    position: relative;

    font-size: 2.7rem;
    font-weight: bold;

    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .content-heading::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 2.5rem;
    height: 4px;
    background-color: #999;
  }

  .content-body {
    font-size: 13px;
    /*font-weight: bold;*/
    line-height: 1.8;
  }

  .main-content-caption-text > .content-body {
    display: block;
    transform: translateX(100%);
    transition: 0.4s linear all;
    transform-origin: left top;
  }

  .main-content-figure.active .main-content-caption-text > .content-body {
    display: block;
    animation: captionBefore 0.4s linear forwards;
  }

  .caption-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: translateX(100%) scaleX(1);
    transition: 0.4s linear all;
    transform-origin: left top;
  }

  .main-content-figure.active .caption-container::before {
    animation: captionBefore 0.4s linear forwards;
  }

  .main-content-figure:nth-child(1) .caption-container::before {
    background-color: rgba(247, 107, 9, 1);
  }

  .main-content-figure:nth-child(2) .caption-container::before {
    background-color: rgba(247, 107, 200, 1);
  }

  .main-content-figure:nth-child(3) .caption-container::before {
    background-color: rgba(107, 207, 200, 1);
  }

  .contact-icon-container {

  }

  .contact-icons {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  .tel {
    font-size: 2rem;
    font-weight: bold;
    color: #333;

    margin-bottom: 0.5rem;
  }

  @keyframes captionBefore {
    0% {
      transform: translateX(-100%) scaleX(1);
    }
    100% {
      transform: translateX(0%) scaleX(1);
    }
  }

  .big-screen-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
  }

}
